/* Empty. Add your own CSS if you like */
.italic{
    font-style: italic;
}

.green{
    background: linear-gradient(to right, rgba(0, 128, 0) ,  rgba(0, 255, 42));
}

.red{
    background: linear-gradient(103.3deg, rgb(221, 27, 43) 7.7%, rgb(238, 103, 103) 90.8%);
}

.blue{
    background: linear-gradient(103.3deg, rgb(104, 173, 253) 7.7%, rgb(105, 231, 248) 90.8%);
}

.orange{
    background: linear-gradient(103.3deg, rgb(253, 109, 104) 7.7%, rgb(248, 150, 105) 90.8%);
}

.background{
    background-image: url('img/wallpaper.png');
}
.top{
    z-index: 10;
}

.reduce-size{
    height: 37px;
}

.test{
    background: white;
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
}

.rounded{
    border-radius: 10px;
}

.contourned{
    border: 3px solid white;
}

.popUp{
    background : rgba(0, 0, 0, 0.7);
}

.hashtag{
    padding: 5px;
    display: inline-block;
    border-radius: 7px;
    color:white;
}

.square{
    padding: 5px;
    display: inline-block;
    border-radius: 150px;
    width: 40px;
    height: 75px;
    color:white;
}

.little{
    font-size: small;
}

.icons{
    display: flex;
    justify-content: space-around;
}

.non{
    margin-top : -12px;
    margin-bottom : 5px;
}

.padd{
    margin-bottom: -13px;
}

.stroke{
    text-shadow: 1px 1px 2px black;
}

.icon{
    zoom:0.8;
}

.footyfoot{
    display: flex;
    justify-content: center;
}

.info{
    height: 20px;
    background-color:white;
    display:flex;
    justify-content: center;
}

.zoomyzoom{
    zoom: 1.2;
}